{% extends "main/base.html" %}
{% block meta_title %} Car List {% endblock meta_title %}
{% block title_page %} <h3>Car List</h3> {% endblock title_page %}
{% block content %}
    {% if car_list %}
        <table>
            <thead>
                <tr>
                    <th>Model</th>
                    <th>Is Available</th>
                    <th>Detail</th>
                </tr>
            </thead>
            <tbody>
                {% for car in car_list %}
                <tr>
                    <td>{{ car.model }}</td>
                    <td>{{ car.is_available }}</td>
                    <td><a href="{% url 'car-detail' car.id %}">Detail</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        {# Pagination section #}
        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1">first</a>
                    <a href="?page={{ page_obj.previous_page_number}}">previous</a>
                {% endif %}
                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                </span>
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">last</a>
                {% endif %}
            </span>
        </div>
        {# End pagination section #}
        
    {% else %}
        <p>There are not cars yet</p>
    {% endif %}
{% endblock content %}